@font-face{
    src: url(../fonts/Krasar-Medium.ttf);
    font-family: "Krasa Medium";
}
@font-face{
    src: url(../fonts/GOTHICB0.TTF);
    font-family: "Gothic Bold";
}
@font-face{
    src: url(../fonts/Krasar-Regular.ttf);
    font-family: "Krasa Regular";
}
#logo2{
    position: relative;
    display: block;
    height: 47px;
}
.navbar{
    background-color: #7c141f;
}
.nav-link{
    color: white !important;
    font-family: "Gothic Bold";
    font-size: 15px;
}
.navbar-toggler{
    background-color: white;
}
*{
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
section{
    width: 100%;
    margin: auto;
}
#poster{
    height: fit-content;
    position: relative;
    margin: 27px 0;
}
#image1{
    height: 100vw;
}
.button{
    font-size: 15px;
    padding: 5px;
}
#logo{
    position: absolute;
    height: 13%;
    display: block;
    top: 4vw;
    left: 4vw;
}
#header{
    position: absolute;
    width: 45%;
    display: block;
    top: 5%;
    right: 4%;
}

@media only screen and (min-width: 0){
    #image2{
        height: 500vw; 
    }
    #logo1{
        position: absolute;
    height: 13%;
    display: block;
    top: 20vw;
    left: 20vw;
    }
}

@media only screen and (min-width: 1000px){
    #image2{
        height: 300vw; 
    }
    #logo1{
        position: absolute;
        height: 13%;
    display: block;
    top: 12vw;
    left: 12vw;
    }
}