@font-face{
    src: url(../fonts/Krasar-Medium.ttf);
    font-family: "Krasa Medium";
}
@font-face{
    src: url(../fonts/GOTHICB0.TTF);
    font-family: "Gothic Bold";
}
@font-face{
    src: url(../fonts/Krasar-Regular.ttf);
    font-family: "Krasa Regular";
}
#logo2{
    position: relative;
    display: block;
    height: 47px;
}
.navbar{
    background-color: #7c141f;
}
.nav-link{
    color: white !important;
    font-family: "Gothic Bold";
    font-size: 15px;
}
.navbar-toggler{
    background-color: white;
}
*{
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
section{
    width: 100%;
    margin: auto;
}
#poster{
    position: relative;
    margin: 27px 0;
}
#image1, #image2{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
#house-type-input{
    resize: vertical;
    font-family: "Gothic Bold";
}
#house-location-input{
    resize: vertical;
    font-family: "Gothic Bold";
}
#house-cost-input{
    resize: vertical;
    font-family: "Gothic Bold";
}
#tel-input{
    resize: vertical;
    font-family: "Gothic Bold";
}
.button{
    font-size: 15px;
    padding: 5px;
}
#logo{
    position: absolute;
    width: 10.7%;
    display: block;
    top: 5%;
    left: 2.8%;
}
#header{
    position: absolute;
    width: 31.7%;
    display: block;
    top: 5%;
    right: 4%;
}
#house-type{
    position: absolute;
    display: block;
    top: 12%;
    left: 67.5%;
    width: 15%;
    height: 5.7%;
    padding: 0.1%;
    overflow: hidden;
    color: white;
    font-family: "Krasa Medium";
    font-size: 2.2vw;
    text-align: left;
}
#house-location{
    position: absolute;
    display: block;
    top: 18.2%;
    left: 67.5%;
    width: 17.7%;
    height: 3%;
    padding: 0.1%;
    overflow: hidden;
    color: white;
    font-family: "Krasa Regular";
    font-size: 1vw;
    text-align: left;
}
#dollar-sign{
    position: absolute;
    display: block;
    top: 12.5%;
    left: 81.7%;
    color: #fee47c;
    font-family: "Gothic Bold";
    font-size: 1.7vw;
    text-align: left;
}
#house-cost{
    position: absolute;
    display: block;
    top: 11.5%;
    left: 83%;
    width: 13%;
    height: 6%;
    overflow: hidden;
    color: #fee47c;
    font-family: "Gothic Bold";
    font-size: 2.9vw;
    text-align: left;
}
#footer{
    position: relative;
    height: 10.981111%;
}
#tel{
    position: absolute;
    color: white;
    top: 34.7%;
    left: 5.9%;
    width: 35%;
    height: 57%;
    font-family: "Gothic Bold";
    font-size: 2vw;
    text-align: left;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
}

@media only screen and (min-width: 0){
    #poster1{
        position: relative;
        width: 300vw; 
        height: 168.75vw;
    }
    #house-type1{
        position: absolute;
        display: block;
        top: 12%;
        left: 67.5%;
        width: 15%;
        height: 5.7%;
        padding: 0.1%;
        overflow: hidden;
        color: white;
        font-family: "Krasa Medium";
        font-size: 6.6vw;
        text-align: left;
    }
    #house-location1{
        position: absolute;
        display: block;
        top: 18.2%;
        left: 67.5%;
        width: 17.7%;
        height: 3%;
        padding: 0.1%;
        overflow: hidden;
        color: white;
        font-family: "Krasa Regular";
        font-size: 3vw;
        text-align: left;
    }
    #dollar-sign1{
        position: absolute;
        display: block;
        top: 12.5%;
        left: 81.7%;
        color: #fee47c;
        font-family: "Gothic Bold";
        font-size: 5.1vw;
        text-align: left;
    }
    #house-cost1{
        position: absolute;
        display: block;
        top: 11.5%;
        left: 83%;
        width: 13%;
        height: 6%;
        overflow: hidden;
        color: #fee47c;
        font-family: "Gothic Bold";
        font-size: 8.7vw;
        text-align: left;
    }
    #tel1{
        position: absolute;
        color: white;
        top: 34.7%;
        left: 5.9%;
        width: 35%;
        height: 57%;
        font-family: "Gothic Bold";
        font-size: 6vw;
        text-align: left;
        line-height: 1.2;
        margin: 0;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1000px){
    #poster1{
        position: relative;
        width: 200vw; 
        height: 112.5vw;
    }
    #house-type1{
        position: absolute;
        display: block;
        top: 12%;
        left: 67.5%;
        width: 15%;
        height: 5.7%;
        padding: 0.1%;
        overflow: hidden;
        color: white;
        font-family: "Krasa Medium";
        font-size: 4.4vw;
        text-align: left;
    }
    #house-location1{
        position: absolute;
        display: block;
        top: 18.2%;
        left: 67.5%;
        width: 17.7%;
        height: 3%;
        padding: 0.1%;
        overflow: hidden;
        color: white;
        font-family: "Krasa Regular";
        font-size: 2vw;
        text-align: left;
    }
    #dollar-sign1{
        position: absolute;
        display: block;
        top: 12.5%;
        left: 81.7%;
        color: #fee47c;
        font-family: "Gothic Bold";
        font-size: 3.4vw;
        text-align: left;
    }
    #house-cost1{
        position: absolute;
        display: block;
        top: 11.5%;
        left: 83%;
        width: 13%;
        height: 6%;
        overflow: hidden;
        color: #fee47c;
        font-family: "Gothic Bold";
        font-size: 5.8vw;
        text-align: left;
    }
    #tel1{
        position: absolute;
        color: white;
        top: 34.7%;
        left: 5.9%;
        width: 35%;
        height: 57%;
        font-family: "Gothic Bold";
        font-size: 4vw;
        text-align: left;
        line-height: 1.2;
        margin: 0;
        overflow: hidden;
    }
}