@font-face{
    src: url(../fonts/Krasar-Medium.ttf);
    font-family: "Krasa Medium";
}
@font-face{
    src: url(../fonts/GOTHICB0.TTF);
    font-family: "Gothic Bold";
}
@font-face{
    src: url(../fonts/Krasar-Regular.ttf);
    font-family: "Krasa Regular";
}
@font-face{
    src: url(../fonts/Century-Gothic.ttf);
    font-family: "Gothic Regular";
}
#logo2{
    position: relative;
    display: block;
    height: 47px;
}
.navbar{
    background-color: #7c141f;
}
.nav-link{
    color: white !important;
    font-family: "Gothic Bold";
    font-size: 15px;
}
.navbar-toggler{
    background-color: white;
}
*{
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
section{
    width: 100%;
    margin: auto;
}
#poster{
    position: relative;
    margin: 27px 0;
}
#image1, #image2{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
#house-type-input{
    resize: vertical;
    font-family: "Gothic Bold", "Krasa Medium";
}
#house-location-input{
    resize: vertical;
    font-family: "Gothic Regular", "Krasa Regular";
}
#house-cost-input{
    resize: vertical;
    font-family: "Gothic Bold";
}
#tel-input{
    resize: vertical;
    font-family: "Gothic Bold";
}
.button{
    font-size: 15px;
    padding: 5px;
}
#logo{
    position: absolute;
    width: 12%;
    display: block;
    top: 5%;
    left: 3.5%;
}
#header{
    position: absolute;
    width: 35%;
    display: block;
    top: 5.9%;
    right: 3.7%;
}
#house-type{
    position: absolute;
    display: block;
    top: 12.1%;
    left: 64.3%;
    padding: 0.2%;
    overflow: hidden;
    color: white;
    font-family: "Gothic Bold", "Krasa Medium";
    font-size: 2.57vw;
    text-align: left;
}
#house-location{
    position: absolute;
    display: block;
    top: 19.5%;
    left: 64.3%;
    width: 17.7%;
    padding: 0.2%;
    overflow: hidden;
    color: white;
    font-family: "Gothic Regular", "Krasa Regular";
    font-size: 1.5vw;
    text-align: left;
}
#house-cost{
    position: absolute;
    display: block;
    top: 12%;
    left: 83.7%;
    width: 13%;
    height: 8%;
    overflow: hidden;
    color: #fee47c;
    font-family: "Gothic Bold";
    font-size: 2.8vw;
    text-align: left;
}
#tel{
    position: absolute;
    color: white;
    top: 28%;
    left: 5.9%;
    width: 35%;
    height: 57%;
    font-family: "Gothic Bold";
    font-size: 2.5vw;
    text-align: left;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
}
#footer{
    position: relative;
    height: 10.981111%;
}

@media only screen and (min-width: 0){
    #poster1{
        position: relative;
        width: 500vw; 
        height: 281.25vw;
    }
    #house-type1{
        position: absolute;
        display: block;
        top: 12.1%;
        left: 64.3%;
        padding: 0.2%;
        overflow: hidden;
        color: white;
        font-family: "Gothic Bold", "Krasa Medium";
        font-size: 12.85vw;
        text-align: left;
    }
    #house-location1{
        position: absolute;
        display: block;
        top: 19.5%;
        left: 64.3%;
        width: 17.7%;
        padding: 0.2%;
        overflow: hidden;
        color: white;
        font-family: "Gothic Regular", "Krasa Regular";
        font-size: 7.5vw;
        text-align: left;
    }
    #house-cost1{
        position: absolute;
        display: block;
        top: 12%;
        left: 83.7%;
        width: 13%;
        height: 8%;
        overflow: hidden;
        color: #fee47c;
        font-family: "Gothic Bold";
        font-size: 14vw;
        text-align: left;
    }
    #tel1{
        position: absolute;
        color: white;
        top: 28%;
        left: 5.9%;
        width: 35%;
        height: 57%;
        font-family: "Gothic Bold";
        font-size: 12.5vw;
        text-align: left;
        line-height: 1.2;
        margin: 0;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1000px){
    #poster1{
        position: relative;
        width: 300vw; 
        height: 168.75vw;
    }
    #house-type1{
        position: absolute;
        display: block;
        top: 12.1%;
        left: 64.3%;
        padding: 0.2%;
        overflow: hidden;
        color: white;
        font-family: "Gothic Bold", "Krasa Medium";
        font-size: 7.71vw;
        text-align: left;
    }
    #house-location1{
        position: absolute;
        display: block;
        top: 19.5%;
        left: 64.3%;
        width: 17.7%;
        padding: 0.2%;
        overflow: hidden;
        color: white;
        font-family: "Gothic Regular", "Krasa Regular";
        font-size: 4.5vw;
        text-align: left;
    }
    #house-cost1{
        position: absolute;
        display: block;
        top: 12%;
        left: 83.7%;
        width: 13%;
        height: 8%;
        overflow: hidden;
        color: #fee47c;
        font-family: "Gothic Bold";
        font-size: 8.4vw;
        text-align: left;
    }
    #tel1{
        position: absolute;
        color: white;
        top: 28%;
        left: 5.9%;
        width: 35%;
        height: 57%;
        font-family: "Gothic Bold";
        font-size: 7.5vw;
        text-align: left;
        line-height: 1.2;
        margin: 0;
        overflow: hidden;
    }
}