html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
@font-face{
    src: url(../fonts/GOTHICB0.TTF);
    font-family: "Gothic Bold";
}
@font-face{
    src: url(../fonts/Century-Gothic.ttf);
    font-family: "Gothic Regular";
}
#logo2{
    position: relative;
    display: block;
    height: 47px;
}
#logo{
    position: relative;
    display: block;
    height: 47px;
}
.navbar{
    background-color: #7c141f;
}
.nav-link{
    color: white !important;
    font-family: "Gothic Bold";
    font-size: 15px;
}
.navbar-toggler{
    background-color: white;
}
.welcome-text{
    text-align: center;
    margin: 27px 0;
    font-family: "Gothic Bold";
    color: #7c141f;
    font-size: 1.7;
}
.card-text{
    font-family: "Gothic Bold";
    color: #7c141f;
    font-size: 27px;
    text-align: center;
}
.card{
    margin-bottom: 27px;
    box-shadow: 0 0 7px #cccccc;
    text-align: center;
}
a{
    text-decoration: none !important;
}
.img-ratio{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25%;
}
.card-title{
    padding: 0;
    margin: 0;
    margin-top: 7%;
    font-family: "Gothic Regular";
    font-size: 15px;
    font-weight: 700;
}
.card img{
    width: 40%;
}
a{
    color: #7c141f;
}
a:hover{
    color: #af1323;
}